@import '../../styles/variables';

.manageGroups {
  padding: 2vh 6.25%;

  a {
    font-weight: 500;
    font-size: 1.2rem;
    text-decoration: none;

    div {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      gap: 1%;
    }

    &:hover {
      color: $primary;
    }
  }

  h1 {
    text-align: center;
    margin: 1rem 0;
  }

  h2 {
    text-align: center;
    margin-top: 1.8rem;
    margin-bottom: 0.9rem;
  }

  input {
    width: 100%;
    margin-bottom: 0.5rem;
  }

  button {
    padding: 0.75rem 0;
  }

  select {
    width: 100%;
    padding: 0.3rem;
    border-radius: 5px;
  }

  .errorMessage {
    text-align: center;
    color: $alert;
  }
}
