@import '../../styles/variables';

.home {
  padding: 0 6.25%;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 15vh 1fr 5vh;

  h1 {
    margin: 2rem 0;
    text-align: center;
  }

  ul {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    gap: 1.5rem;
    list-style-type: none;
  }

  a {
    flex-grow: 1;
    font-size: 1.5rem;
    text-decoration: none;

    li {
      width: 100%;
      height: 100%;
      display: flex;

      justify-content: center;
      align-items: center;

      border: none;
      border-radius: 5px;

      background-color: $primary;

      &:hover {
        background-color: $primary-hover;
      }
    }
  }
}
