@import '../../styles/_variables';

.groupList {
  &__default {
    ul {
      list-style-type: none;
      display: flex;
      flex-flow: row wrap;
    }

    width: 100%;
    h2 {
      text-align: center;
    }
  }
}

.groupItem {
  &__default {
    width: 100%;
    background-color: $card-bg;
    border-radius: 5px;
    padding: 1rem;

    h3 {
      text-align: center;
      margin-bottom: 1rem;
    }

    div {
      width: 100%;
      display: flex;
      flex-flow: row wrap;
      gap: 1rem;

      button {
        width: calc(100% / 2 - 1rem);
      }
    }
  }
}

.randomGroups {
  margin: 2rem 0;

  .randomGroupsList {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;

    .groupCard {
      width: 100%;
      background-color: $card-bg;
      padding: 1rem;
      border-radius: 5px;
      h2 {
        text-align: center;
      }

      .groupMemberList {
        margin-top: 1rem;
        list-style-type: none;
        display: flex;
        flex-flow: row wrap;
        gap: 0.5rem;
        justify-content: center;
        li {
          background-color: $bg;
          padding: 0.3rem 0.5rem;
          border-radius: 5px;
        }
      }
    }
  }
}

.groupListAdmin {
  margin-bottom: 2rem;

  h2 {
    text-align: center;
  }

  ul {
    list-style-type: none;
    display: flex;
    flex-flow: column nowrap;
    gap: 1.5rem;
  }
}

.groupItemAdmin {
  background-color: $card-bg;
  padding: 1rem;
  border-radius: 6px;

  .groupHeader {
    display: flex;
    gap: 1rem;

    .deleteIcon {
      width: 1.5rem;
      height: 1.5rem;
      color: $alert;

      &:hover {
        color: $primary;
      }
    }

    h3 {
      align-self: center;
      text-align: center;
      margin-bottom: 1rem;
    }
  }

  button {
    width: 100%;
  }
}
