@import '../../styles/variables';

.groupRandomizer {
  margin-top: 2rem;

  h2 {
    text-align: center;
    margin-bottom: 1rem;
  }

  form {
    label {
      display: grid;
      grid-template-columns: max-content auto;
      align-items: center;
      gap: 1rem;
      span {
        grid-column: 1 / 2;
      }
      input {
        width: 100%;
      }
    }

    button[type='submit'] {
      margin-top: 2rem;
      padding: 0.75rem 0;
    }
  }
}

.nameRandomizer {
  margin-bottom: 1rem;
  h2 {
    background-color: $card-bg;
    border-radius: 5px;
    padding: 1rem;
    font-size: 1.3rem;
  }

  button {
    width: 100%;
    display: block;
  }

  input {
    margin-right: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .groupRandomizer {
    form {
      display: flex;
      flex-direction: row nowrap;
      align-items: center;
      label {
        input {
          width: 50px;
        }
      }

      button {
        width: 200px;
      }
    }
  }
}
